---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Lodges">
  <h1>Admin</h1>
  <ul>
    <li>
      <a
        class="bg-green-50 text-green-800 px-4 py-2 border rounded-md hover:opacity-80 transition-opacity"
        href="/admin/lodges">Manage Lodges</a
      >
    </li>
  </ul>
</BaseLayout>
