---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Lodges">
  <h1>Admin</h1>
  <ul>
    <li>
      <a href="/admin/lodges/create">Create Lodge</a>
    </li>
  </ul>
</BaseLayout>
