---
import { CreateLodgeForm } from "../../../components/react/CreateLodgeForm";
import BaseLayout from "../../../layouts/BaseLayout.astro";
---

<BaseLayout title="Lodges">
  <h1>Create Lodge</h1>
  <CreateLodgeForm />
</BaseLayout>
