---
import { CreateLodgeForm } from "../../../components/client/forms/CreateLodgeForm";
import { getKeepers } from "../../../data/getKeepers";
import BaseLayout from "../../../layouts/BaseLayout.astro";

const users = await getKeepers();
---

<BaseLayout title="Lodges">
  <h1>Create Lodge</h1>
  <CreateLodgeForm keepers={users.data} client:load />
</BaseLayout>
